.news .title {
	text-align: center;	
	font-size: 250%;
	padding-bottom: 10px;
}

.news .news-text {
	line-height: 1.5;
	margin: 20px 10px;
	font-size: 120%;
	text-align: justify;
}

pre {
	white-space: pre-line; 
    word-wrap: break-word; 
    width:100%; 
    overflow:hidden;
}

.news img {
	padding: 20px; 0;
	display: block;
	margin: auto;	
	max-width: 600px;
}

.news ul {
	line-height: 1.5;
	font-size: 120%;
	list-style-position: outside;
	padding-left: 60px;
}

.news li {
	list-style-type: disc;
}