<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>colarinhobranco</display-name>
  <welcome-file-list>
    <welcome-file>FrontController</welcome-file>
  </welcome-file-list>
  
  
  <servlet>
     <servlet-name>frontcontroller</servlet-name>
     <servlet-class>colarinhobranco.servlets.FrontController</servlet-class>
   </servlet>
  
   <servlet-mapping>
     <servlet-name>frontcontroller</servlet-name>
     <url-pattern>/FrontController</url-pattern>
   </servlet-mapping>
  
  <context-param>
    <param-name>images-folder</param-name>
    <param-value>/home/victor/workspace/colarinhobranco/src/main/webapp/resources/colarinhobranco_images</param-value>
  </context-param>
  
  <filter>
	  <filter-name>FilterAuth</filter-name>
	  <filter-class>colarinhobranco.interceptingfilter.FilterAuth</filter-class>
  </filter>
	 
</web-app>